<%- include("header") -%>

<h2>This page is About us</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea labore, ut, debitis quas placeat nemo minima dolores totam fuga numquam soluta laborum assumenda in ad? Reiciendis blanditiis sint similique dolorum!</p>

<%- include("footer") -%>